@(submission: org.iatoki.judgels.sandalphon.commons.BundleSubmission, gradingResult: Map[String, Double], bundleAnswer: org.iatoki.judgels.sandalphon.commons.BundleAnswer, authorName: String, problemAlias: String, problemName: String, contestName: String)

@import org.iatoki.judgels.commons.JudgelsUtils
@import java.text.DecimalFormat

<h3>Submission #@submission.getId</h3>

<h4>General Info</h4>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-3">Info</th>
                    <th class="col-md-9">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Author</td><td>@authorName</td>
                </tr>
                <tr>
                    <td>Problem</td><td>@if(problemAlias != null) { @problemAlias - } @problemName</td>
                </tr>
                @if(contestName != null) {
                    <tr>
                        <td>Contest</td><td>@contestName</td>
                    </tr>
                }
                <tr>
                    <td>Score</td><td>@(new DecimalFormat("#.##").format(submission.getLatestScore))</td>
                </tr>
                <tr>
                    <td>Time</td><td>@JudgelsUtils.formatDate(submission.getTime)</td>
                </tr>
                <tr>
                    <td>JID</td><td>@submission.getJid</td>
                </tr>
                <tr>
                    <td>Grading JID</td><td>@submission.getLatestGradingJid</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@if(gradingResult != null && gradingResult.size >= 1) {
    <h4>Results</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-4">Jid</th>
                        <th class="col-md-2">Score</th>
                        <th class="col-md-6"></th>
                    </tr>
                </thead>

                <tbody>
                @for((jid, score) <- gradingResult) {
                    <tr>
                        <td>@jid</td>
                        <td>@(new DecimalFormat("#.##").format(score))</td>
                        <td></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

<h4>Answers</h4>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-4">Jid</th>
                    <th class="col-md-4">Answer</th>
                    <th class="col-md-4"></th>
                </tr>
            </thead>

            <tbody>
            @for((jid, answer) <- bundleAnswer.getAnswers) {
                <tr>
                    <td>@jid</td>
                    <td>@answer</td>
                    <td></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>